body{
  background-color: #dfd;
  background-image: url("u.png");
 
}
.Heading{
  margin-top: 0;
  margin-bottom: 13%;
  background-color: Pink;
  text-align: center;
  font-family: Monospace;
  font-size: 40px;
  color: white;
  padding: 4% 3%;
}
.Card{
  background-image: url("u.png");
  text-align: center;
  color:black;
  width:92%;
  display: inline-block;
  background-color: white;
  margin: 2% 4%;
}
  .Card-p{
    font-size:20px;
  }

.Card:hover{
  border: green solid 1px;
}
@media screen and (min-width: 480px) {
  .Card-h1{
   font-size: 60px;
  }
  .Card-p{
    font-size: 40px;
  }
}
.Foot,a {
  padding: 4%;
  text-decoration: none;
  text-align: center;
  background-color: pink;
}
.num{
  position: absolute;
  float: left;
  background-color: pink;
  color: green;
  border: pink solid;
  padding: 2px;
  border-radius: 50%;
}